# Virtual Environments
venv/
.venv/

# Python Cache
__pycache__/
*.py[cod]
.pytest_cache/

# Local Data Dumps
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# IDE & OS files
.vscode/
.ipynb_checkpoints/
Thumbs.db
desktop.ini